.styledLists{
    list-style: none;
}

.styledLists ::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--nextui-colors-secondary);
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
